<div class="container">
  <div id="wrapper">
    <div class="jumbotron">
      <div class="container">
        <div class="text-center">
          <h1>Draw a Cat</h1>
          <p>
            push a JUDGE button,score your picture<br>
            and push a RANK button,rank your picture
          </p>
          <p>if you want to restart,you push a CLEAR button.</p>
        </div>
      </div>
    </div>
    
    <canvas id="canvas" width="480px" height="320px"></canvas>
    <div class="btn-toolbar">
      <div class="btn-group btn-group-lg  tools" role="group">
        <button type="button" class="btn btn-secondary clear" id="clear">CLEAR</button>
        <button type="button" class="btn btn-secondary file" id="load">LOAD</button>
        <button type="button" class="btn btn-secondary file" id="save">SAVE</button>
      </div>
    </div>
  
    <div class="btn-toolbar" id="afterpush">
      <button type="button" class="btn btn-lg btn-danger file" id="judge">JUDGE</button>
    </div>
    
    <div id=score>
    </div>
    
    <div class="ranking">
      <h1>Score Ranking</h1>
    </div>
    
    <div id=score-rank>
    </div>
    
  </div>
</div>

<script type="text/javascript">
  var sx = 0;
  var sy = 0;
  var isDraw = false;

  var canvas = $('#canvas').get(0);
  var context =  canvas.getContext('2d');
  
  context.fillStyle = "rgb(255,255,255)";
  context.fillRect(0,0,canvas.width, canvas.height);

  $('#canvas').mousedown(function(e){
    isDraw = true;
    sx = e.pageX - $(this).offset().left;
    sy = e.pageY - $(this).offset().top;
    console.log(sx,sy);
    e.preventDefault();
  });
  
  $('#canvas').mouseup(function(){
    isDraw = false;
  });
  
  $('#canvas').mousemove(function(e){
    if(isDraw){
      var ex = e.pageX - $('canvas').offset().left;
      var ey = e.pageY - $('canvas').offset().top;
        drawLine(sx,sy,ex,ey);
        sx = ex;
        sy = ey;
    }
  });
  
  $('#canvas').mouseleave(function(e){
    if(isDraw){
      var ex = e.pageX - $('canvas').offset().left;
      var ey = e.pageY - $('canvas').offset().top;
        drawLine(sx,sy,ex,ey);
        sx = ex;
        sy = ey;
    }
    isDraw = false;
  });

  $('#clear').click(function(e){
     context.fillStyle = "rgb(255,255,255)";
     context.fillRect(0,0,canvas.width,canvas.height);
     $('#judge').prop("disabled",false);
     $('#load').prop("disabled",false);
     $('#rank').remove();
     $(".canvas-score").remove();
     
  });
  
  $('#load').click(function(){
  var dataURL = localStorage.getItem('dataURL');
  if(dataURL){
    var img = new Image();
    img.onload = function(){
      context.drawImage(img,0,0);
    }
      img.src = dataURL;
    alert("画像を読み込みました");
  }else{
    alert("保存された画像がありません");
  }
});

$('#save').click(function(){
   localStorage.setItem('dataURL',canvas.toDataURL('image/png'));
   alert("画像を保存しました");
});

$('#judge').click(function(){
  var dataURL = canvas.toDataURL('image/png').split(",")[1];
  
  dataURLlength = dataURL.length
  
  var data = {
    requests:[
      {
        image:{
          content: dataURL
        },
        features:{
          type: "LABEL_DETECTION",
          maxResults: 100
        }
      }
    ]
  }
  
  var data_json = JSON.stringify(data);
  
  /*
  var data1 = dataURL.substr(0,8000)
  var data2 = dataURL.substr(8000)
  */
  
  console.log(dataURL.length)
  
  $.ajax({
    url: '/getresult',
    type: 'POST',
    dataType: 'json',
    contentType: 'application/json',
    data: data_json
  }).done(function(data){
    alert("Success")
    var existsCat = false;
    
    var $div = $("<div>",{"class": "canvas-score"});
    
    $.each(data.responses[0].labelAnnotations,function(i,val){
      if(existsCat === false && val.description === "cat"){
        console.log("description: " + val.description);
        console.log("score: " + val.score);
        
        $div.append("<h1> Youe score is " + val.score + "</h1>" );
        $div.appendTo("#score");
        existsCat = true;
        Score = val.score;
      }
    });
    
    if(existsCat === true){
      console.log("this is a cat!");
      var $saveButtonAfterJudge = $("<button>",{
        "type": "button",
        "class": "btn btn-lg btn-info file",
        "id": "rank",
      }).append("RANK");
      $saveButtonAfterJudge.appendTo("#score");
    }else{
      console.log("this is not a cat!");
      $div.append("<h1> GetScore : Your picture is not Cat! Score is 0!</h1> ");
      $div.appendTo("#score");
    }
    
    $('#rank').click(function(){
      alert("Get your Rank !")
      $('#rank').prop("disabled",true);
      
      $.ajax({
        url: '/create',
        type: 'GET',
        //dataType: 'json',
        async: true,
        data: {name: "test",filename: "test", score: 1-Score,},
      }).done(function(data){
        alert("Success")
      }).fail(function(data){
        alert("Failure")
      });
      
/*
      firebase.database().ref(Subject).push({
        filename: "images/cat.png",
        name: "test",
        score: 1-Score,
        createdAt: firebase.database.ServerValue.TIMESTAMP,
        });
*/
        console.log("rank")
        var metadata = {
          contentType: 'image/png',
        };
        
//        var imagesRef = firebase.storage().ref().child('images/cat.png')
        
//        imagesRef.putString(dataURL,'base64',metadata).then(function(snapshot){
//          console.log("Uploaded a base64 string !");
    })
  }).fail(function(data){
    alert("Failure")
  });
})


  function drawLine(x1,y1,x2,y2){
    context.beginPath();
    context.moveTo(x1,y1);
    context.lineTo(x2,y2);
    context.stroke();
  }

</script>